@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="m-5">This is just the beginning of this Family Schedule Organizer application.</h4>
   
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Members" asp-action="Index"> Meet the members</a>
    
</div>
