# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: FSO.App CI/CD

on:
  workflow_dispatch:  
  push:
    branches: [ "dev" ]
  pull_request:
     branches: [ "main" ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Install dependencies
      run: dotnet restore Capstone.sln
    - name: Build
      run: dotnet build FSO.App/ --no-restore
    - name: Test
      run: dotnet test FSO.App/ --no-build --verbosity normal
    # - name: Publish
    #   run: dotnet publish --no-build --no-restore --oslinux --arch x64 FSO.App/ /t:PublishContainer -p ContainerRegistry=docker.io 
  
  push_to_registry:
    name: Build and push the docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to your Docker Hub account
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.KONTO_PASS }}

    