# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: FSO.App CI/CD

on:
  workflow_dispatch:  
  push:
    branches: [ "dev" ]
  pull_request:
     branches: [ "main" ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
      #  cache: true
    # - name: Display version
    #   run: dotnet --version    
    - name: Install dependencies
      run: dotnet restore Capstone.sln
    - name: Build
      run: dotnet build FSO.App/ --no-restore
    # - name: Test
    #   run: dotnet test FSO.App/ --no-build --verbosity normal
